<h1>Add a new course </h1>
<%= form_for @course do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.submit :submit %>
<% end %>